header.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0c0101;
    background-image: url("../images/img/bady-abbas-jOmBUCtflWA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
}

.banner-subheading {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 25px;
    font-family: "Roboto Slab", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(77, 76, 75);
    margin-top: -60px;
}

.banner-heading {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 6rem;
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(77, 76, 75);
}

.btn {
    background-color: #382a2a;
    border: none;
    font-weight: 500;
    margin-bottom: 5rem;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.btn:hover {
    background-color: #241c1c;
    font-weight: 700;
}


#mainnav .navbar-nav .nav-link {
    color: #181818 ;
    opacity: 1 ;
    font-weight: 600;
    transition: color 0.3s ease;
}

#mainnav .navbar-nav .nav-link:hover,
#mainnav .navbar-nav .nav-link:focus {
    color: #fffb00 ;
}


@media (min-width: 760px) {
    header.banner {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }

    .banner-subheading {
        font-size: 2.5rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    .banner-heading {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-section {
    padding: 6rem;
}

.page-section h2.section-subheading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab";
    margin-bottom: 4rem;
}


.page-section .text-muted {
    font-size: 0.85rem;
    color: #999 ;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
}

@media (min-width: 760px) {
    section {
        padding: 9rem;
    }

    #mainNav {
        padding: 1rem;
        padding-bottom: 1rem;
        background: #241c1c;
    }

    #mainNav .navbar-toggler {
        padding: 0.75rem;
        font-size: 0.75rem;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: 700;
    }

    #mainNav .navbar-brand { 
        color: #fff;          
        font-family: "Montserrat";
        font-weight: 700;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
    }

    #mainNav .navbar-nav .nav-item .nav-link { 
        font-family: "Montserrat";
        font-size: 0.95rem;                     
        color: #fff;
        letter-spacing: 0.025rem;
    }
}

