header.banner{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: aliceblue;
    background-image: url("../images/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
}